.property-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .property-card {
    width: 48%; 
    margin: 1%; 
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .property-card {
      width: 100%; 
      margin: 1% 0; 
    }
  }
  

  h4{
    font-size: 20px;
  }
  .property-card p{
    font-size: 20px;
    line-height: 32px;
  }